@import url('https://fonts.googleapis.com/css?family=Montserrat');

$background-grey: #525571;
$highlight-grey: #696C89;

.App {
  font-family: 'Montserrat', sans-serif;
  background-color: $background-grey;
}
